asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
cloudinary==1.42.1
dj-database-url==2.3.0
dj3-cloudinary-storage==0.0.6
Django==5.1.3
django-ckeditor==6.7.2
django-js-asset==2.2.0
gunicorn==23.0.0
idna==3.10
packaging==24.2
pillow==11.0.0
psycopg2==2.9.10
requests==2.32.3
six==1.17.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.3.0
whitenoise==6.8.2
