* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100vh;
}

.section-title {
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.section-subtitle {
  letter-spacing: 0.4px;
  line-height: 28px;
  max-width: 550px;
}

/*
.section-title-border {
  background-color: #000;
  height: 1px 3px;
  width: 44px;
}

.section-title-border-white {
  background-color: #fff;
  height: 2px;
  width: 100px;
}
  */

.about_icon i {
  font-size: 22px;
  height: 65px;
  width: 65px;
  line-height: 65px;
  display: inline-block;
  background: #fff;
  border-radius: 35px;
  color: #0d6efd;
  box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
  max-width: 450px;
  font-size: 24px;
}

.about_icon span {
  position: relative;
  top: -10px;
}

.about_content_box_all {
  padding: 28px;
}

.about-section {
  max-width: 80rem;
  background: linear-gradient(to right, #4e749b 30%, #d5eaff);
  color: white;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
}

@media (min-width: 600px) {
  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-us {
    padding: 3vw 0 3vh 3vw;
  }

  .image-wrapper {
    filter: hue-rotate(20deg);
    clip-path: polygon(0 100%, 50% 0, 100% 0, 100% 100%);
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.about-us h2 {
  font-weight: 600;
  white-space: nowrap;
  font-size: clamp(2rem, 5vw, 4rem);
  margin-block-end: 0.5rem;
}

.about-us p {
  font-size: clamp(1rem, 1.5vw, 3rem);
}

.image-wrapper {
  height: 100%;
  width: 100%;
}

.image-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right center;
}

.bg-blue {
  background-color: #4e749b;
}
