{% extends 'layout.html' %}
{% block content %}
<div class="container" style="min-height: 75vh">
    <div class="container mt-4" style="max-width: 720px;">
        <div style="margin-top: 70px;">
            <div>
                <h2 class="mt-4">Create An Account</h2>
                <p>Please fill in your details to get started</p>
                <form method="POST" style="margin: 4rem 1rem;">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    <div class="row mt-4">
                        <div class="col-12 col-md-6 mt-3">
                            <label for="first_name" class="mb-1">First Name</label>
                            <input type="text" name="first_name" class="form-control" id="first_name">
                            {% if form.first_name.errors %}
                            <span class="text-danger">
                                {{ form.first_name.errors }}
                            </span>
                            {% endif %}

                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <label for="last_name" class="mb-1">Last Name</label>
                            <input type="text" name="last_name" id="last_name" class="form-control">
                            {% if form.last_name.errors %}
                            <span class="text-danger">
                                {{ form.last_name.errors }}
                            </span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 col-md-6 mt-3">
                            <label for="username" class="mb-1">Username</label>
                            <input type="text" name="username" class="form-control" id="username">
                            {% if form.username.errors %}
                            <span class="text-danger">
                                {{ form.username.errors }}
                            </span>
                            {% endif %}

                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <label for="email" class="mb-1">Email</label>
                            <input type="email" name="email" id="email" class="form-control">
                            {% if form.email.errors %}
                            <span class="text-danger">
                                {{ form.email.errors }}
                            </span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 col-md-6 mt-3">
                            <label for="password" class="mb-1">Password</label>
                            <input type="password" name="password1" id="password" class="form-control">
                            {% if form.password1.errors %}
                            <span class="text-danger">
                                {{ form.password1.errors }}
                            </span>
                            {% endif %}

                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <label for="password2" class="mb-1">Confirm Password</label>
                            <input type="password" name="password2" id="password2" class="form-control">
                            {% if form.password2.errors %}
                            <span class="text-danger">
                                {{ form.password2.errors }}
                            </span>
                            {% endif %}

                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-dark mt-4">Sign Up</button>
                    <p class="mt-4 text-center">Already have an account? <a href="/accounts/login">Login</a> </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}