<!-- <nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Menu</a></li>
        </ul>
        <h1 class="logo">Navbar</h1>
    </div>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">Blogify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <li class="nav-item rounded">
          <a class="nav-link active roboto" aria-current="page" href="/"><i class="bi bi-house-fill me-2"></i>Home</a>
        </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="/about"><i class="bi bi-people-fill me-2"></i>About</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="/contact"><i class="bi bi-telephone-fill me-2"></i>Contact</a>
          </li>
        {% if user.is_authenticated %}
        <li class="nav-item rounded"></li>
        <a class="nav-link" href="/accounts/dashboard"><i class="bi bi-telephone-fill me-2"></i>Dashboard</a>
        </li>
        <li class="nav-item rounded"></li>
        <a class="nav-link" href="/accounts/logout"><i class="bi bi-telephone-fill me-2"></i>Logout</a>
        </li>
        {% else %}
        <li class="nav-item rounded">
          <a class="nav-link" href="/accounts/register"><i class="bi bi-telephone-fill me-2"></i>Register</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="/accounts/login"><i class="bi bi-telephone-fill me-2"></i>Login</a>
        </li>
        {% endif %}

        <!--<li class="nav-item dropdown rounded">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Profile</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Account</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
      -->
        </ul>
      </div>
    </div>
  </nav>