
<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Blogify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex mx-4" role="search" method="GET" action="{% url 'search' %}">
        <input class="form-control me-2" type="text" name="q" placeholder="Search Blogs..." aria-label="Search">
        <button class="btn btn-outline-light btn-sm" style="width: 130px;" type="submit"><i
            class="fa-solid fa-magnifying-glass me-2"></i>
          Search</button>
      </form>
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link {% if request.path == '/' %}active{% endif %} roboto" aria-current="page" href="/">
            <i class="fa-solid fa-house me-1"></i>Home</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="/about"><i
              class="bi bi-people-fill me-1"></i>About</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="/contact"><i
              class="fa-solid fa-phone me-1"></i></i>Contact</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link {% if request.path == '/accounts/dashboard/' %}active{% endif %} dropdown-toggle" href="#"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user me-1"></i> Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/accounts/dashboard">Dashboard</a></li>
            <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item rounded">
          <a class="nav-link {% if request.path == '/accounts/register/' %}active{% endif %}"
            href="/accounts/register"><i class="bi bi-telephone-fill me-2"></i>Register</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link {% if request.path == '/accounts/login/' %}active{% endif %}" href="/accounts/login"><i
              class="bi bi-telephone-fill me-2"></i>Login</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>